@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --photo-radius: 64px
  }
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  height: 54px;
  width: 100%;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image-main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.bg-image-main > img {
  height: 100%;
  object-fit: cover;
}

.logo {
  color: #fffaf1;
  fill: #fffaf1
}

.form-input {
  background: none;
  border: none;
  border-bottom: 1px solid; 
}

textarea {
  height: 150px;
  border-radius: 16px;
  border: none;
}

