{# djlint:off #}
{% extends 'base.html' %}
{% block content %}

<div class="container h-24"></div>

<div class="container">
  <div class="w-full">
    <div class="w-full aspect-[1/1] flex flex-col items-center justify-center p-2 col-auto bg-card-bg rounded-2xl">
      <form action="{% url 'folders_create' %}" method="post">
        {% csrf_token %}
    
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="create folder" class="btn-primary border mt-6 border-blue">
      </form>
    </div>
    </div>
</div>
</div>

{% endblock %}
