{% extends 'base.html' %}

{% block content %}

<style>
    .add-folder {
      text-align: center;
      margin-top: 50px;
    }
  
    .folderForm {
      display: table;
      margin: 0 auto;
    }
  </style>


<div class="add-folder">
<h1>Add New Folder</h1>
</div>

<div class="folderForm">
    <form action="{% url 'folders_create' %}" method="post">
    {% csrf_token %}

    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
</div>


{% endblock %}
