{# djlint:off #}
{% extends 'base.html' %} {% block content %}
<div class="w-full relative pt-72 flex items-end overflow-y-auto">

  <div class="w-full fixed z-0 h-96 top-0 object-cover overflow-hidden">
    {% if recipe.photo.count %}
    {% for photo in recipe.photo_set.all %}
    <img
    src="{{ photo.url }}"
    alt="{{ recipe.name }}"
    class="h-full w-full object-cover object-center group-hover:opacity-75"
    />
    {% endfor %}
    {% else %}
    <form action="{% url 'add_photo' recipe.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <button type="submit" class="btn">Upload Photo</button>
    </form>
    {% endif %}
  </div>
  
  
  <div class="w-full z-1 relative rounded-t-[54px] bg-neutral-50">
    {% comment %} description {% endcomment %}
    <div class="container my-7">
      <div class="w-full flex justify-between">
        <h1 class="font-serif mb-3 w-[80%] text-3xl leading-7">{{ recipe.name }}</h1>
        
        {% comment %} button to add to a folder {% endcomment %}
        <form action="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>          
        </form>

      </div>
      <p>{{ api_recipe.description }}</p>
    </div>
    {% comment %} ingredients {% endcomment %}
    <div class="container mb-9">
      <h2 class="text-2xl mb-2 font-serif">Ingredients</h2>
    {% if recipe.ingredients_set.all %}
      <div class="w-full gap-y-1 gap-3 grid grid-cols-2">
        {% for ingredients in recipe.ingredients_set.all %}
        <p class="col-auto text-sm">{{ ingredients.ingredient }}</p>
        {% endfor %}
      </div>
      {% else %}
      <form action="{% url "add_ingredient" recipe.id %}" method="post">
        {% csrf_token %}
        {{ ingredient_form }}
      </form>
      {% endif %}
    </div>
    {% comment %} steps {% endcomment %}
    <div class="container flex flex-col gap-1">
    {% if recipe.steps_set.all %}
    {% for step in recipe.steps_set.all %}
    <div class="container p-3 border border-card-bg rounded-2xl">
      <p class="font-serif tracking-tighter text-xs">Step </p>
      <p class="text-sm">{{ step.instructions}}</p>
    </div>{% endfor %}
    {% else %}
    <form action="{% url "add_steps" recipe.id %}" method="post">
      {% csrf_token %}
      {{ steps_form }}
      <button type="submit">add step</button>
    </form>
    {% endif %}
      
    </div>
  </div>
</div>
<container class="w-full h-24"></container>




{% endblock %}
