{# djlint:off #}
{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <div class="w-full relative pt-72 flex items-end overflow-y-auto">

        <div class="w-full fixed z-0 h-96 top-0 object-cover overflow-hidden">
          {% if recipe.photo_set.all %}
          {% for photo in recipe.photo_set.all %}
          <img
          src="{{ photo.url }}"
          alt="{{ recipe.name }}"
          class="h-full w-full object-cover object-center group-hover:opacity-75"
          />
          {% endfor %}
          {% else %}
          <form action="{% url 'add_photo' recipe.id %}"
                enctype="multipart/form-data"
                method="POST"
                class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
        <button type="submit" class="btn">Upload Photo</button>
    </form>
    {% endif %}
  </div>
  
  
  <div class="w-full z-1 relative rounded-t-[54px] bg-neutral-50">
    {% comment %} description {% endcomment %}
    <div class="container my-7">
      <div class="w-full relative flex justify-between">
        <div class="div">
          <h1 class="font-serif mb-3 w-[80%] text-3xl leading-7">{{ recipe.name }}</h1>
         
        </div>
        <div id="folders-popup" class="flex flex-col justify-start items-end relative">
        <button id="show-folders"> 
          <svg xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
           <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
           </svg>          
        </button>
        <div id="folder-options" class="container hidden flex-col">
          {% for folder in folders.all %}
          <form class="folder-form border-b p-1"
                method="post"
                action="{% url "assoc_folder" recipe.id folder.id %}"
                recipe.id
                folder.id>
            {% csrf_token %}
            <button type="submit">{{ folder.name }}</button>
          </form>
          {% endfor %}
        </div>
      </div>

      </div>
      <p>{{ recipe.description }}</p>
      {% if recipe.user == author %}
      <div class="div flex gap-2">

        <button id="edit-btn" class="flex mt-2 items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">Edit</button> 
        <a href="{% url "recipes_delete" recipe.id %}" class="flex mt-2 items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">Delete</a> 
        {% endif %}
      </div>
    </div>
    {% comment %} ingredients {% endcomment %}
    <div class="container mb-9">
      
      <h2 class="text-2xl tracking-tighter mb-2 font-serif">Ingredients</h2>
    {% if recipe.ingredients_set.all %}
      <div class="w-full gap-y-1 gap-3 grid grid-cols-2">
        {% for ingredients in recipe.ingredients_set.all %}
        <p class="col-auto text-sm">{{ ingredients.ingredient }}</p>
        {% endfor %}
        <button id="show-ingredient-btn"
                class="hidden items-center rounded-md bg-gray-400/10 px-6 py-3 text-xs font-medium text-gray-400 w-fit ring-1 h-12 ring-inset ring-gray-400/20">add ingredients</button>
        <form id="ingredient-form"
              class="hidden"
              action="{% url "add_ingredient" recipe.id %}"
              method="post">
          {% csrf_token %}
          {{ ingredient_form }}
        </form>
      </div>
      {% else %}
      <form action="{% url "add_ingredient" recipe.id %}" method="post">
        {% csrf_token %}
        {{ ingredient_form }}
      </form>
      {% endif %}
    </div>
    {% comment %} steps {% endcomment %}
    <div class="container flex flex-col gap-1">
    {% if recipe.steps_set.all %}
    {% for step in recipe.steps_set.all %}
    <div class="container p-3 border border-card-bg rounded-2xl">
      <p class="font-serif tracking-tighter text-xs">Step </p>
      <p class="text-sm">{{ step.instructions}}</p>
    </div>{% endfor %}
    <button id="add-step-btn"
            class="hidden items-center rounded-md bg-gray-400/10 px-6 py-3 text-xs font-medium text-gray-400 w-fit ring-1 h-12 ring-inset ring-gray-400/20">add step</button>
    <form id="add-steps"
          class="hidden"
          action="{% url "add_steps" recipe.id %}"
          method="post">
      {% csrf_token %}
      {{ steps_form }}
      <button type="submit">add step</button>
    </form>
    {% else %}
    <form action="{% url "add_steps" recipe.id %}" method="post">
      {% csrf_token %}
      {{ steps_form }}
      <button type="submit">add step</button>
    </form>
    {% endif %}
      
    </div>
  </div>
</div>
<div class=" w-4/5 my-10 mx-auto border-b border-text-600 opacity-25">
</div>

{% comment %} reviews {% endcomment %}
<div class="container mb-7 w-full flex flex-col">
  <h2 class="text-2xl tracking-tighter mb-2 font-serif">Reviews</h2>

  {% for review in recipe.review_set.all %}
  <div class="w-full p-4 border border-card-bg mt-2 rounded-2xl">
    
      <p class="text-xs">{{ review.user }}</p>
      <p>{{ review.text }}</p>
  </div>

  {% endfor %}
</div>
<div class="container">

  <form class="w-full h-32" id="review-form" action="{% url "add_review" recipe.id %}" method="post">
    {% csrf_token %}
    {{ review_form}}
    <div class="w-full flex mt-2 border-t-card-bg pt-2 border-t justify-between">
      
      <button type="button" class="-m-2 inline-flex h-10 w-10 items-center justify-center rounded-full text-gray-400 hover:text-gray-500">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
        </svg>
        <span class="sr-only">Attach a file</span>
      </button>
      <button type="submit" class="flex items-center rounded-md bg-gray-400/10 px-6 py-3 text-xs font-medium text-gray-400 ring-1 h-12 ring-inset ring-gray-400/20">POST</button>
      
    </div>
  </form>
</div>
<container class="w-full h-24"></container>



<script src="{% static "js/recipeFormControls.js" %}" defer></script>
{% endblock %}
