{% load tailwind_tags %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% tailwind_css %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body class="bg-red-400">
  <nav class="flex w-full justify-between">
    <a class="logo">Appetit</a>
    {% if user.is_authenticated %}
    <a href="{% url 'recipes_create' %}">Add Recipe</a>
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
      {% csrf_token %}
      <button type="submit">{% translate "Log out" %}</button>
    </form>
    {% else %}
      <a href="{% url 'signup' %}">Sign Up</a>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
  </nav>
  {% block content %}{% endblock content %}
</body>
</html> 


