{% load tailwind_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
  </head>
  <body class="bg-neutral-50">
    {% comment %} {% if user.is_authenticated %} {% endcomment %}
    <nav class="flex w-full justify-between md:py-3 md:px-24 py-1 px-2">
      <a href="{% url "home" %}" class="text-black z-10  flex bg-center justify-center items-center logo">
        <img class="h-6" src="{% static "images/Appetit.svg" %}" alt="">
      </a>
      <a href="{% url 'recipes_create' %}">Add Recipe</a>
      <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate "Log out" %}</button>
      </form>
    </nav>
    {% comment %} {% else %}
    <div class="relative flex h-screen w-screen justify-center bg-black items-center flex-col">
      <div class="relative bg-image-main opacity-25">
        <img src="{% static "images/bg-image.jpg" %}" alt="bg-image">
      </div>
      <div class="text-neutral-50 z-10 w-full pb-9 flex bg-center justify-center items-center logo">
        <img class="h-12" src="{% static "images/Appetit.svg" %}" alt="">
      </div>
      <div class="container gap-3 px-10 flex z-10 flex-col justify-center items-center">
        <div class="btn-primary bg-blue">
          <a href="{% url 'signup' %}">Sign Up</a>
        </div>
        <div class="btn-primary bg-blue">
          <a href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
    {% endif %} {% endcomment %}
    {% block content %}{% endblock content %}
  </body>
  </html> 
  
  
  