{# djlint:off #}
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container h-20"></div>
{% comment %} header and search {% endcomment %}
<div class="container mb-7">
  <h1 class="text-4xl leading-7 font-serif tracking-tighter">Welcome, <br>{{ user.username }}</h1>
</div>

{% comment %} search functionality {% endcomment %}
<div class="container mb-7">
  <form action="{% url "search_recipes" %}" method="post" class="flex w-full px-2 h-14 rounded-full border">
    {% csrf_token %}
    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg></button>
    <input  type="text" name="recipe" id="" placeholder="search" class="w-full rounded-full bg-neutral-50 border-0">
  </form>
</div>

{% comment %} categories {% endcomment %}
<div class="no-scrollbar container mb-7 overflow-x-auto flex gap-2">
  {% for tag in cuisines %}
  {% if tag.name in tags %}
  <div class="flex flex-col items-center text-center">
    <div class="h-20 w-20 bg-card-bg rounded-full"></div>
    {% comment %} <a href="{% url "index" tag.name %}"> {% endcomment %}
      <p class="text-sm">
        {{ tag.display_name }}
      </p>
    {% comment %} </a> {% endcomment %}
  </div>
  {% endif %}
  {% endfor %}
</div>

{% comment %} most popular {% endcomment %}
<div class="container no-scrollbar mb-9">
  <h2 class="text-3xl font-serif tracking-tighter">
    Trending Now
  </h2>
  <div class="relative mt-4">
    <div class="relative -mb-6 w-full overflow-x-auto pb-6">
      <ul role="list" class="inline-flex space-x-2 lg:grid lg:grid-cols-4 lg:gap-x-8 lg:space-x-0">
        {% for recipe in popular_recipes %}
        <li class="inline-flex w-44 flex-col lg:w-auto">
          <div class="group relative">
            <div class="aspect-h-4 aspect-w-3 w-full overflow-hidden rounded-[16px] bg-gray-200">
              <img src="{{ recipe.thumbnail_url }}" alt="{{ recipe.name }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <div class="mt-3 w-[90%]">
              <h3 class="mt-0 mb-1 text-xl font-serif tracking-tighter leading-5 text-gray-900">
                <a href="{% url "detail" recipe.id %}">
                  <span class="absolute inset-0"></span>
                  {{ recipe.name }}
                </a>
              </h3>
              <p class="mt-0 text-sm leading-4 pr-1 text-gray-900 line-clamp-2">{{ recipe.yields }}</p>
            </div>
          </div>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>

</div>

{% comment %} <div class="container no-scrollbar mb-9">
  <h2 class="text-3xl font-serif tracking-tighter">
    Other Popular Recipes
  </h2>
  <div class="relative mt-4">
    <div class="relative -mb-6 w-full overflow-x-auto pb-6">
      <ul role="list" class="inline-flex space-x-2 lg:grid lg:grid-cols-4 lg:gap-x-8 lg:space-x-0">
        {% for recipe in user_recipes %}
        {% if recipe in recipe.photo.count %}
        
        <li class="inline-flex w-44 flex-col lg:w-auto">
          <div class="group relative">
            <div class="aspect-h-4 aspect-w-3 w-full overflow-hidden rounded-[16px] bg-gray-200">
              <img src="{{ photo.url }}" alt="{{ recipe.name }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <div class="mt-3 w-[90%]">
              <h3 class="mt-0 mb-1 text-xl font-serif tracking-tighter leading-5 text-gray-900">
                <a href="{% url "user_recipe" recipe.id %}">
                  <span class="absolute inset-0"></span>
                  {{ recipe.name }}
                </a>
              </h3>
              <p class="mt-0 text-sm leading-4 pr-1 text-gray-900 line-clamp-2">By: {{ recipe.user }}</p>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>

</div> {% endcomment %}
{% comment %} recipes that the user has created {% endcomment %}
<div class="cpontainer">

  
  
  <div class="container mb-7">
    <h2 class="text-3xl font-serif tracking-tighter">
      What Other's Have Posted
    </h2>
    <div class="w-full grid grid-cols-2 sm:grid-cols-6 gap-1">
      {% for recipe in user_recipes %}
      <div class="w-full border col-auto rounded-lg p-2">
        <h3 class="mt-0 mb-1 text-xl font-serif tracking-tighter leading-5 text-gray-900">
          <a href="{% url "user_recipe" recipe.id %}">
            <span class=" inset-0"></span>
            {{ recipe.name }}
          </a>
        </h3>
        <p class="mt-0 text-sm leading-4 pr-1 text-gray-900 line-clamp-2"> submitted by:{{ recipe.user }}</p>
      </div>
      {% endfor %}
    </div>
    
  </div>
</div>

<script src="{% static "js/homepage.js" %} defer"></script>
{% endblock %}
