@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  height: 54px;
  width: 100%;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}